<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elgin.dao.RegistCertificateDao">
    
    
    <!-- 新增一条记录 -->
    <insert id="add" parameterType="RegistCertificate">
      insert into register_certificate(application_number,product_name,applicant_name,certificate_expire_date)
      values(#{application_number},#{product_name},#{applicant_name},#{certificate_expire_date})
    </insert>
    
    <!-- 删除一条记录 -->
    <delete id="delete" parameterType="Integer">
      delete from register_certificate where id = #{id}
    </delete>
    
    <!-- 更新一条记录的数据 -->
    <update id="update" parameterType="RegistCertificate">
      update register_certificate set application_number=#{application_number},product_name=#{product_name},powder_level=#{powder_level},applicant_name=#{applicant_name},certificate_expire_date=#{certificate_expire_date} where id=#{id}
    </update>
    
    <!-- 查询单条记录 -->
    <select id="get" parameterType="Integer" resultType="RegistCertificate">
        SELECT * FROM register_certificate WHERE id = #{id}
    </select>
    
    <!-- 查询多条记录 -->
    <select id="getListByKeyWord" resultType="RegistCertificate" parameterType="String">
       select * from register_certificate WHERE product_name LIKE concat("%",#{keyword},"%")
    </select>

    <!-- 查询list -->
    <select id="getList" resultType="RegistCertificate" parameterType="com.elgin.utils.Page">
        select * from register_certificate ORDER BY id limit #{start},#{pageSize}
    </select>

    <!-- count -->
    <select id="count" resultType="Integer">
        select count(*) from register_certificate
    </select>


</mapper>